<div class="left-bar">
  <div class="left-bar-wrapper">
    <div class="left-bar-flexbox">
      <div class="left-bar-flexbox__top top">
        <a [routerLink]="'home'" class="top-link">
          <img alt="home" src="./assets/icons/home.png"/>
        </a>
      </div>
      <div class="left-bar-flexbox__bottom bottom">
        <a [routerLink]="'settings'" class="bottom-link">
          <img alt="settings" src="./assets/icons/settings.png"/>
        </a>
      </div>
    </div>
  </div>
</div>
