@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --background: #1F1F1F;
  --black: #161616;
  --gray: #262626;
  --white: #FFFFFF;
  --light-gray-bg: #888888;
  --light-gray-color: #9A9A9A;
  --dark-gray-color: #535353;
  --dark-gray-bg: #3C3C3C;
  --dark-green: #516340;
  --dark-red: #612727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--white);
  background-color: var(--background);
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style-type: none;
}
